/* Base styling for the navbar */
.navbar {
  background-color: #013339;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Styling for the menu icon (hamburger icon) */
.menu-icon {
  font-size: 1.8rem;
  cursor: pointer;
  color: white;
}

/* Styling for the navigation links */
.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.nav-link {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: white;
  background-color: #004c4c;
  border-bottom: 1px solid rgba(0, 52, 76, 0.2);
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #013339;
}

/* Show/Hide navigation links on mobile */
@media (max-width: 767px) {
  .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #013339;
    flex-direction: column;
    transform: translateX(-100%);
  }

  .navbar.open .nav-links {
    transform: translateX(0);
  }
}

/* For larger screens, display the nav items horizontally */
@media (min-width: 768px) {
  .menu-icon {
    display: none;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    transform: none;
  }

  .nav-link {
    padding: 0.5rem 1rem;
    border-bottom: none;
  }
}

/* Global styles */
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Login page styles */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px; /* Adjusted for higher position */
  height: calc(50vh - 50px);
  background-color: #f0f0f0;
}

.login-message {
  text-align: center;
  margin-bottom: 20px;
}

.login-message h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.login-message p {
  font-size: 0.9rem;
  color: #666;
}

.login-header {
  text-align: center;
  margin-bottom: 15px;
  color: #333;
}

.input-group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #666;
}

.input-group input {
  line-height: 1.3;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.button {
  background-color: #ff99ff;
  border: 2px solid #ff6600;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.nuuly-link-container {
  margin-top: 20px; /* Adjust for alignment with login container */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(50vh - 50px);
}

.nuuly-link-image {
  width: 300px;
  height: auto;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.nuuly-link-image:hover {
  transform: scale(1.05);
}

.nuuly-link-text {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}